extends ../node_modules/jade-bootstrap/_bootstrap

head
	title=title

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("browse", "active") Browse
		+nav_item("upload") Upload
	.container
		h1 #{title}
		p You are currently at 'Browse'
			|Enter search here:
		form(action = "/browse", method = "get")
			input(type = "text", name = "textfield")
			input(type = "submit")
		h2 #{result}
		p #{place}
