extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse") Browse
		+nav_item("/search") Search
		+nav_item("/upload", "active") Upload
	.container
		h1 #{title}
		p Select a file then upload it
		form(action="/upload", method="post", enctype="multipart/form-data")
			input(type="file", name="file")
			p 
			+submit("Upload")
			p 
		if uploaded === true
			+alert-ix-success("Upload Successful")