extends ../node_modules/jade-bootstrap/_bootstrap

block body
	+navbar("Colenso Project", "dropdown_menu")
		+nav_item("/") Home
		+nav_item("/browse") Browse
		+nav_item("/search") Search
		+nav_item("/upload", "active") Upload
	.container
		p Select a file then upload it
		form(method="post", enctype="multipart\/form-data", action="/nodejs-upload/")
		#[+a-btn("#") Select file] #[+a-btn-primary("#") Upload File]