extends ../../node_modules/jade-bootstrap/_bootstrap

head
  title=title

block body
  +navbar("Colenso Project", "dropdown_menu")
    +nav_item("../") Home
    +nav_item("/", "active") Browse
  .container
    h1= title
    p You are currently at 'Browse'
